@media(min-width: 530px) {    
    html, body {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 10px;
        background-color: #b40000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2311d5e7' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23b40000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23af1205' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23a91c0c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23a42311' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%239e2916' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23992e1a' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2393321f' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%238d3523' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23873827' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23813b2b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237b3d2f' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23754032' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f4236' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2368433a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2361453e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%235a4742' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23524845' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23494949' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    body {
        margin: 0 auto;
    }

    h1, h2, h3, h3, h4, h5, h6 {
        font-family: Sonsie One, cursive;
        color: #2a2a2a;
    }

    p, input, li {
        font-family: Open Sans Condensed, sans-serif;
        color:#2a2a2a;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 10px red;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    p, li {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    p {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .customShirt {
        width: 300px;
        height: 300px;
    }
    
    .submit {
        width: 100px;
        height: 50px;
        position: relative;
        top: 0;
    }

    .submit:hover {
        color: black;

    }

    .imgcontainer {
        width: 310px;
        height: 310px;
        position: relative;
        text-align: center;
        top: -303px;
        left: 300px;
    }

    .important {
        text-align: start;
        color: red;
        font-weight: bold;
    }

    .name {
        color: white;
        font-family: Bodoni MT;
        width: 200px;
        height: 50px;
        position: absolute;
        text-align: center;
        font-size: 27px;
        top: 20px;
        right: 55px;
    }

    fieldset {
        height: 500px;
        border: 2px solid black;
    }

    .number {
        color: white;
        font-family: Bodoni MT;
        width: 200px;
        height: 50px;
        position: absolute;
        text-align: center;
        font-size: 130px;
        top: -70px;
        right: 55px;
    }

    .nav {
        width: 0;
        height: 0;
        top: 0;
        font-size: 30px;
        border: none;
        background: none;
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;                                  /* Style for the side navigation bar */
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #222222;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    } /* the navigation bar to move from one page to the other on the side*/
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;                            /*  Style for the side navigation bar for the a elements */
        color: white;
        display: block;
        transition: 0.3s;
    } 
    
    .sidenav a.active {
        background-color: red;                  /* class that makes a certain word be highlighted showing there on that page */
        color: white;
    }
    .sidenav a.nonActive:hover {
        color:red;
    }
    
    .sidenav a:hover {
        color: black;               /* effect for when you hover over element */
    } 
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;                /* element to seeting where the button to close the nav bar is */
        margin-left: 50px;
    }


}

@media(max-width: 530px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 10px;
        background-color: #CECBCB;
    }
    
    body {
        margin: 0 auto;
    }
    
    h1, h2, h3, h3, h4, h5, h6 {
        font-family: Sonsie One, cursive;
        color: #2a2a2a;
    }
    
    p, input, li {
        font-family: Open Sans Condensed, sans-serif;
        color:#2a2a2a;
    }
    
    h1 {
        font-size: 3rem;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 10px red;
        margin-left: auto;
        margin-right: auto;
    }
    
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    h3 {
        font-size: 1.1rem;
    }
    
    h4 {
        font-size: 8rem;
    }
    
    p, li {
        font-size: .5rem;
        line-height: 1;
    }
    
    .btn {
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        background: none;
        margin-top: 1px;
        width: 250px;
        height: 50px;
        border: 5px solid black;
        text-align: center;
    }
    
    .btnBx {
        height: 100px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}